*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Plain Light";
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    overflow-x: hidden;
}
#cursor{
    position: fixed;
    z-index: 999;
    pointer-events: none;
    border-radius: 50%;
    height: 2vw;
    width: 2vw;
    border: 2px solid rgba(255, 255, 255, 0.749);
    mix-blend-mode: difference;
    transform: translate(-50%,-50%);
}
#loader{
    background-color: #0b0b0b;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 999;
    overflow-y: hidden;
    padding: 25vh 10vw;
}
.line{
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:3vw ;
}
#line1Part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}
#line1Part1 h5,#line1Part1 h6{
    font-size: 3vw;
    font-weight: 100;
    font-family: 'silk serif';
}
#line1Part1 h5{
    width: 5vw;
    text-align: right;
}
.line h1{
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 900;
}
.line>h2{
    font-size: 5vw;
    text-transform: uppercase;
    font-weight: 900;
    opacity: 0;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
}
@keyframes lineH2 {
    0%{
        font-family: "plain light";
        -webkit-text-stroke:1px #fff;
        font-weight: 500;
        color: #fff;
        opacity: 1;
    }
    47%{
        font-family: "plain light";
        -webkit-text-stroke:1px #fff;
        font-weight: 500;
        color: #fff;
        opacity: 0;
    }
    50%{
        font-family: "silk serif";
        -webkit-text-stroke:1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 1;
    }
    100%{
        font-family: "silk serif";
        -webkit-text-stroke:1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 0;
    }
}
#main{
    background-color: #151515;
    position: relative;
}
#page1{
    height: 85vh;
    background-color:#151515 ;
    width: 100%;
}
#page1 #nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5vw 4.2vw;
}
#navPart2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.7vw;
}
#navPart2 h4{
    font-size: .9vw;
    font-weight: 500;
}
.hero {
    /* background-color: red; */
    width: 72%;
    margin-left: 27%;
    height: fit-content;
    /* background-color: red; */
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 99999;
}

.hero:nth-child(2) {
    margin-top: 15vh;
}

.hero h1 {
    font-size: 7.2vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 7.2vw;

}


.hero h2, .hero h3 {
    font-size: 7.2vw;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 7.2vw;
}
.hero h2:hover{
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    text-decoration: none;
    font-weight: 500;
}
.heroWeb,.heroGraphics{
    text-decoration: underline;
    text-underline-offset: 8px;
}
.heroWeb{
    margin-right: 9px;
}
#page2{
    height: 100vh;
    width: 100%;
    position: relative;
    padding-top: 7vh;
    overflow-x: hidden;
}
.videoContainer{
    height: 66vh;
    width: 73vw;
    position: relative;
    left: 27%;
}
.videoContainer img{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.videoContainer video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#video-cursor{
    background-color: #FFA63D;
    height: 8vw;
    width: 8vw;
    border-radius: 50%;
    position: absolute;
    top: -10%;
    left: 80%;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
}
#video-cursor{
    font-size: 2vw;
}
#page3{
    min-height: 100vh;
    width: 100%;
    background-color: #4f4f4f;
    position: relative;
}
#page4{
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 7vw 0;
}
.page4-content{
    width: 72vw;
    margin-left: 27vw;
}
.page4-content::before{
    content: "03";
    font-size: 3vw;
    font-family: 'silk serif';
    position: absolute;
    top: 6.33%;
    left: 20%;
}
.page4-content h1{
    text-transform: uppercase;
    font-size: 7vw;
}
.page4-content .underline{
    height: 1px;
    width: 96%;
    background-color:#fff ;
    margin-top: 4vw;
    margin-bottom: 5.7vw;
}
.page4-content>p{
    font-size: 2.1vw;
    width: 46%;
    line-height: 2.4vw;
    margin-bottom: 3vw;
}
#page4Flex{
    display: flex;
}
#page4Flex img{
    width: 47%;
}
#page4Flex p{
    font-size: 0.9vw;
    width: 19%;
    margin-left: 1.3vw;
}
#blueCard{
    background-color: #3F7DF4;
    padding: 4vw 2vw;
    width: 33vw;
    position: relative;
    margin-top: -37.5vh;
    margin-left: 24vw;
}
.blueElem{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1.7vw 0;
    border-bottom: 2px solid #ffffff70;
}
.blueElem h4{
    font-size: 1.4vw;
    font-weight: 500;
}
.blueElem p{
    width: 40%;
    font-size: 0.7vw;
}
#page5{
    min-height: 100vh;
    width: 100%;
}